.ant-btn {
  font-size: $font-level-2;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.ant-btn-loading {
    opacity: 0.65;
    cursor: default;
  }

  &.ant-btn-icon-only {
    width: 32px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.ant-btn-loading {
  &::before {
    opacity: 0.05;
  }
}

/* * * * * * * * * * * * * * * * * * * * * *
 * * * * * *  Button Type Color  * * * * * *
 * * * * * * * * * * * * * * * * * * * * * */

@mixin button-color-style($color, $highlight) {
  &.q-btn_primary {
    &:not(:disabled) {
      background-color: $color;
      border-color: $color;

      &:hover {
        background-color: lighten($color, 10%);
        border-color: lighten($color, 40%);
      }

      &:focus {
        background-color: $color;
        border-color: $color;
      }

      &:focus-visible {
        background-color: $color;
        border-color: $color;
      }
    }
  }

  &.q-btn_secondary {
    &:not(:disabled) {
      border-color: $color;
      color: $color;

      &:focus {
        border-color: $color;
        color: $color;
      }

      &:hover {
        border-color: lighten($color, 10%);
        color: lighten($color, 10%);
      }
    }
  }

  &.q-btn_default {
    &:not(:disabled) {
      border-color: $color-timberwolf;
      color: $color-feldgrau;

      &:focus {
        border-color: $color-timberwolf;
        color: $color-feldgrau;
      }

      &:hover {
        border-color: lighten($color, 10%);
        color: lighten($color, 10%);
      }
    }
  }
}

.q-button_info {
  @include button-color-style($color-primary, lighten($color-primary, 10%));
}

.q-button_success {
  @include button-color-style($color-primary, lighten($color-primary, 10%));
}

.q-button_warning {
  @include button-color-style($color-warning, lighten($color-warning, 10%));
}

.q-button_error {
  @include button-color-style($color-error, lighten($color-error, 10%));
}
